$colorBackgroundBody: #1dd0d0;
$colorBackgroundPage: black;
$colorBackgroundHeader : #008080;
$colorBackgroundNav: #dddddd;
$colorNav : #055858;
$colorBackgroundBest: black;
$colorBackgroundModal: white;
$colorBestFilm: white;
$colorBackgroundButton: #dddddd;
$colorModalScores: #fca208;


